:root {
  --black: rgb(20, 20, 20);
  --white: rgb(220, 220, 220);
  --blue: rgb(90, 205, 255);
  --border-radius: 8px;
  --border: 1px solid rgb(220, 220, 220, 0.5);
  --box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.6),
    -2px -2px 10px 0px rgba(220, 220, 220, 0.2);
  --font-size: 16px;
  --font-family: "Cascadia Code", Consolas, "Courier New", monospace;
  --background-image: url(../../resources/images/worldmap.svg);
  --background-image-light: url(../../resources/images/worldmaplight.svg);
  --text-shadow: 2px 2px 15px rgba(0, 0, 0, 1), -2px -2px 15px rgba(3, 24, 9, 1);
}

body {
  font-size: var(--font-size);
  font-family: var(--font-family);
  color: var(--white);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  overflow: hidden;
}

.bodyDark {
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--white);
}

.bodyLight {
  background-image: var(--background-image-light);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--black);
}

.menuButton {
  position: absolute;
  height: 25px;
  top: 15px;
  left: 15px;
  cursor: pointer;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--black);
  padding: 5px;
  transition: 0.3s;
  z-index: 2;
}

.moreInfo {
  margin-top: auto;
}

.menuButton:hover {
  scale: 1.05;
  box-shadow: var(--box-shadow);
}

.themeButton {
  position: absolute;
  height: 25px;
  top: 15px;
  right: 25px;
  cursor: pointer;
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--white);
  padding: 5px;
  transition: 0.3s;
  z-index: 2;
}

.themeButton:hover {
  scale: 1.05;
  box-shadow: var(--box-shadow);
}

header {
  height: 95dvh;
  width: 180px;
  padding: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(5px);
}

.profilePicture {
  height: 125px;
  align-self: center;
  border: 2px solid var(--blue);
  border-radius: 50%;
  margin: 25px;
}

.profilePicture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.profilePicture:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 10px rgb(255, 255, 255, 0.1);
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: clamp(400px, 65dvw, 800px);
  height: clamp(400px, 65dvh, 800px);
  display: none;
  text-align: center;
}

.popup img {
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--blue);
  box-shadow: 0px 0px 10px 10px rgb(255, 255, 255, 0.1);
  animation: fadeIn 0.3s ease-in-out forwards;
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

h1 {
  font-size: 1.8rem;
}

a {
  text-decoration: none;
  color: var(--blue);
  width: 180px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

button {
  background-color: var(--black);
  border: var(--border);
  border-radius: var(--border-radius);
  color: var(--blue);
  font-family: var(--font-family);
  font-size: 1rem;
  margin: 8px;
  padding: 5px;
  width: 80%;
  height: 2rem;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  scale: 1.05;
  box-shadow: var(--box-shadow);
}

main {
  width: 85%;
  padding-left: 10px;
  padding-right: 10px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  width: 100%;
  height: 100%;
}

.container {
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  height: fit-content;
  padding: 15px;
  backdrop-filter: blur(5px);
}

u {
  text-decoration: none;
  border-bottom: 1px solid var(--blue);
}

i {
  font-size: 1.5rem;
}

li {
  list-style: none;
}

@media screen and (max-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
  }
  body {
    overflow: auto;
  }
}
