@import url("https://fonts.googleapis.com/css2?family=Playfair&display=swap");

* {
  padding: 0;
  margin: 0;
}

*::-webkit-scrollbar {
	height: 12px;
	width: 12px;
  }
  *::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #060508;
  }
  
  *::-webkit-scrollbar-track:hover {
	background-color: #060508;
  }
  
  *::-webkit-scrollbar-track:active {
	background-color: #060508;
  }
  
  *::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #060508;
	border: 3px solid #2BF0F4;
  }
  
  *::-webkit-scrollbar-thumb:hover {
	background-color: #060508;
  }
  
  *::-webkit-scrollbar-thumb:active {
	background-color: #060508;
  }

body {
  background-color: #060508;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
	position: sticky;
	top: 0;
	background-color: #060508;
	border-bottom: 2px solid #2BF0F4;
	z-index: 100;
	box-shadow: 0px 10px 25px 0px rgba(20, 152, 230, 1);
}

nav ul {
	list-style: none;
}

nav ul li {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-start;
	justify-content: space-evenly;
	text-decoration: none;
}

nav ul li a {
    color: rgba(232,255,254,1);
    text-decoration: none;
	font-size: 18px;
	margin: 4px;
}

nav ul li :hover {
	color: #2BF0F4;
	text-shadow: 1px 1px 25px rgba(20, 152, 230, 1),
             -1px -1px 25px rgba(20, 152, 230, 1);
	animation: shakeit 1s ease-out 0s 1 normal none;
}

header {
	display: flex;
    flex-flow: row wrap-reverse;
	align-items: center;
    justify-content: space-evenly;
	min-height: 300px;
    background-color: #060508;
    border-bottom: 2px solid #2BF0F4;
    box-shadow: 0px 10px 25px 0px rgba(20, 152, 230, 1);
}

header svg {
	font-family: "Playfair", sans-serif;
	width: 70vw; 
	height: 150px;
}
header svg text {
	animation: stroke 4s infinite alternate;
	stroke-width: 2;
	stroke: #2BF0F4;
	font-size: 8vw;
	text-shadow: 1px 1px 25px rgba(20, 152, 230, 1),
             -1px -1px 25px rgba(20, 152, 230, 1);
}

@keyframes stroke {
	0%   {
		fill: rgba(232,255,254,0); stroke: rgba(43,240,244,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(232,255,254,0); stroke: rgba(43,240,244,1); }
	80%  {fill: rgba(232,255,254,0); stroke: rgba(43,240,244,1); stroke-width: 3; }
	100% {
		fill: rgba(232,255,254,1); stroke: rgba(43,240,244,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

header img {
	height: 200px;
	width: 200px;
	margin: 25px;
	border: 2px solid #2BF0F4;
	border-radius: 15px;
	box-shadow: 0px 0px 35px 0px rgba(20, 152, 230, 1);
}

header img:hover {
	cursor: url('img/hello-there.png'), auto;
}

#aboutme {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
	min-height: 980px;
	padding: 35px;
	font-size: 16px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #E8FFFE;
	border-bottom: 2px solid #2BF0F4;
	box-shadow: 0px 10px 25px 0px rgba(20, 152, 230, 1);
}

#aboutme p {
	order: 1;
	margin: 5px;
	max-width: 65vw;
}

#aboutme img{
	order:1;
	margin: 10px;
	padding: 10px;
	border: 2px solid #2BF0F4;
	border-radius: 1rem;
	box-shadow: 0px 0px 35px 0px rgba(20, 152, 230, 1);
}

#aboutme a :hover {
	cursor: url('img/wave.png');
}

#projects{
	padding: 35px;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	min-height: 980px;
	border-bottom: 2px solid #2BF0F4;
	box-shadow: 0px 10px 25px 0px rgba(20, 152, 230, 1);
}

#projects div p {
	margin: 15px;
	max-width: 250px;
	color: #E8FFFE;
}

#projects img {
	border-radius: 15px;
	box-shadow: 0px 0px 5px 0px rgba(20, 152, 230, 1);
}

#projects a :hover {
	box-shadow: 0px 0px 35px 0px rgba(20, 152, 230, 1);
	animation: wobwob 1s ease 0s 1 normal none;
}

@keyframes wobwob {
	0%,
	100% {
	  transform: translateX(0%);
	  transform-origin: 50% 50%;
	}
  
	15% {
	  transform: translateX(-30px) rotate(-6deg);
	}
  
	30% {
	  transform: translateX(15px) rotate(6deg);
	}
  
	45% {
	  transform: translateX(-15px) rotate(-3deg);
	}
  
	60% {
	  transform: translateX(9px) rotate(2deg);
	}
  
	75% {
	  transform: translateX(-6px) rotate(-1deg);
	}
  }
  

#contact {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
	height: 200px;
	margin: 40px;
}

#contact p {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #E8FFFE;
	text-shadow: 1px 1px 25px rgba(20, 152, 230, 1),
             -1px -1px 25px rgba(20, 152, 230, 1);
}

#contact img{
	border-radius: 15px;
	box-shadow: 0px 0px 35px 0px rgba(20, 152, 230, 1);
}

#contact a :hover{
	animation: shakeit 1s ease-out 0s 1 normal none;
}

@keyframes shakeit {
	0%,
	100% {
	  transform: rotate(0deg);
	  transform-origin: 0 50%;
	}
  
	10% {
	  transform: rotate(2deg);
	}
  
	20%,
	40%,
	60% {
	  transform: rotate(-4deg);
	}
  
	30%,
	50%,
	70% {
	  transform: rotate(4deg);
	}
  
	80% {
	  transform: rotate(-2deg);
	}
  
	90% {
	  transform: rotate(2deg);
	}
  }
  