.aboutMe {
  grid-area: 1 / 1 / 3 / 3;
}

.projects {
  grid-area: 1 / 3 / 7/ 7;
}

.myStack {
  grid-area: 3 / 1 / 6 / 3;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.myStack h1 {
  grid-area: 1 / 1 / 2 / 3;
}

.myStack .col1 {
  grid-area: 2 / 1 / 4 / 2;
}

.myStack .col2 {
  grid-area: 2 / 2 / 4 / 3;
}

.cvButton {
  width: 150px;
}

.webDev {
  font-size: 1.2rem;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .aboutMe {
    order: 1;
  }

  .projects {
    order: 3;
  }

  .myStack {
    order: 2;
  }
}
